---
const empresas = [
  {
    srcSet: "/iconsCompanies/WEBP/corferias.webp",
    src: "/iconsCompanies/PNG/corferias.png",
    alt: "Logo Corferias",
    url: "https://corferias.com/es",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/mintic.webp",
    src: "/iconsCompanies/PNG/mintic.png",
    alt: "Logo Mintic",
    url: "https://mintic.gov.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/grupo_sura.webp",
    src: "/iconsCompanies/PNG/grupo_sura.png",
    alt: "Logo Grupo Sura",
    url: "https://www.gruposura.com/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/noticias-uno.webp",
    src: "/iconsCompanies/PNG/noticias-uno.png",
    alt: "Logo Noticias Uno",
    url: "https://noticias.canal1.com.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/bancolombia.webp",
    src: "/iconsCompanies/PNG/bancolombia.png",
    alt: "Logo Bancolombia",
    url: "https://www.bancolombia.com/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/DANE.webp",
    src: "/iconsCompanies/PNG/DANE.png",
    alt: "Logo DANE",
    url: "https://www.dane.gov.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/skandia.webp",
    src: "/iconsCompanies/PNG/skandia.png",
    alt: "Logo Skandia",
    url: "https://www.skandia.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/cafam.webp",
    src: "/iconsCompanies/PNG/cafam.png",
    alt: "Logo Cafam",
    url: "https://www.cafam.com.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/Universidad_EAN.webp",
    src: "/iconsCompanies/PNG/Universidad_EAN.png",
    alt: "Logo Univerisidad EAN",
    url: "https://universidadean.edu.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/corferias.webp",
    src: "/iconsCompanies/PNG/corferias.png",
    alt: "Logo Corferias",
    url: "https://corferias.com/es",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/mintic.webp",
    src: "/iconsCompanies/PNG/mintic.png",
    alt: "Logo Mintic",
    url: "https://mintic.gov.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/grupo_sura.webp",
    src: "/iconsCompanies/PNG/grupo_sura.png",
    alt: "Logo Grupo Sura",
    url: "https://www.gruposura.com/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/noticias-uno.webp",
    src: "/iconsCompanies/PNG/noticias-uno.png",
    alt: "Logo Noticias Uno",
    url: "https://noticias.canal1.com.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/bancolombia.webp",
    src: "/iconsCompanies/PNG/bancolombia.png",
    alt: "Logo Bancolombia",
    url: "https://www.bancolombia.com/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/DANE.webp",
    src: "/iconsCompanies/PNG/DANE.png",
    alt: "Logo DANE",
    url: "https://www.dane.gov.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/skandia.webp",
    src: "/iconsCompanies/PNG/skandia.png",
    alt: "Logo Skandia",
    url: "https://www.skandia.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/cafam.webp",
    src: "/iconsCompanies/PNG/cafam.png",
    alt: "Logo Cafam",
    url: "https://www.cafam.com.co/",
    width: "150",
  },
  {
    srcSet: "/iconsCompanies/WEBP/Universidad_EAN.webp",
    src: "/iconsCompanies/PNG/Universidad_EAN.png",
    alt: "Logo Univerisidad EAN",
    url: "https://universidadean.edu.co/",
    width: "150",
  },
];
---

<div class="slider-container">
  <div class="slider">
    <div class="slide-track">
      {
        empresas.map((empresa, idx) => (
          <a
            href={empresa.url}
            target="_blank"
            class="slide"
            id={`slide-${idx}`}
          >
            <picture>
              <source
                srcset={empresa.srcSet}
                width={empresa.width}
                height="auto"
                type="image/webp"
              />
              <img
                src={empresa.src}
                width={empresa.width}
                height="auto"
                alt={empresa.alt}
              />
            </picture>
          </a>
        ))
      }
    </div>
  </div>
</div>

<style>
  /* Start Carousel Animation */

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-345px * 7));
    }
  }

  @keyframes selected {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }

  @keyframes notSelected {
    0% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  .slider-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
  }

  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    padding: 0 0.5rem;
    height: 120px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 1.5rem;
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 120px;
    position: absolute;
    width: 60px;
    z-index: 2;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll 35s linear infinite;
    display: flex;
    width: calc(250px * 14);
    align-items: center;
  }

  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 390px;
    margin: 0 2rem;
    cursor: pointer;
  }

  .slide:hover {
    cursor: pointer;
    animation: selected 0.2s ease-in-out;
    transform: scale(1.3);
  }
  .slide:not(:hover) {
    animation: notSelected 0.2s ease-in-out;
    transform: scale(1);
  }

  /* End Carousel Animation */
</style>
<script>
  //stop animation and translatex in the current position when hover in the slider
  const slider: any = document.querySelector(".slide-track");
  slider.addEventListener("mouseover", () => {
    slider.style.animationPlayState = "paused";
  });
  slider.addEventListener("mouseleave", () => {
    slider.style.animationPlayState = "running";
  });
</script>
